.bottom-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #343538;
    padding: 0;
    margin: 0;
    gap: 0;
}

.bottom-panel__left-image {
    height: auto;
    width: auto;
    display: block;
}

.bottom-panel__spacer {
    flex: 1;
    background: #343538;
    height: 100%;
}

.bottom-panel__right-image {
    height: auto;
    width: auto;
    display: block;
}