.file-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background: #1E2023;
    padding: 0;
    margin: 0;
    gap: 0;
    border-bottom: none;
}

.file-tabs__left-image {
    height: auto;
    width: auto;
    display: block;
}

.file-tabs__spacer {
    flex: 1;
    background: #1E2023;
    height: 48px;
}

.file-tabs__right-image {
    height: auto;
    width: auto;
    display: block;
}