/**
 * SplitButtonDemo - Стили для демонстрации компонента
 */

.split-button-demo {
  margin-bottom: var(--size-30);
}

.split-button-demo h2 {
  margin-bottom: var(--size-16);
  padding: 0 var(--size-20);
  color: var(--text-color-default);
  font-family: var(--font-family-kudo);
  font-size: var(--font-size-xl);
}
